.navbar {
    background-color: darkcyan;
    height: 80px;
    max-width: 500px;
}

ul{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 13px;
    background-color: cadetblue;
}
li{
    display: inline;
    color: white;
    text-align: center;
    padding: 18px;
}


.company{
    border: 3px solid chocolate;
    background-color: coral;
    font-family: Phosphate;
    font: bold;
    font-size:85px;
}
/*
.nordic{
    float:left; padding:30px 15px; background-color: coral; font-family: Phosphate; font: bold; font-size:125px;
}
.motorhome{
    float: left; padding:30px 15px; position:relative; top: 15px; right: 15px; background-color: coral; font-family: Phosphate; font: bold; font-size: 125px;
}
*/
.rental{
    text-align: right;
    writing-mode: vertical-rl;
}

.login{
    width: 80px;
    height: 80px;
    padding: 10px;
    border: 8px solid indianred;
    border-radius: 6px;
    background-color: dodgerblue;
    opacity: 0.8;
    font-weight: bold;
}
