.navbar {
    padding: 8px 16px;
    float: left;
    border: none;
    display: inline;
    background-color: cadetblue;


    outline: 0;
}

.navbarB{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbarB:hover{
    background-color: #dfebec;
    color: black;
}

body{
    background-image: url("../images/norway1.jpg");
}

ul{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 13px;
    background-color: cadetblue;
}
li{
    display: inline;
    color: white;
    text-align: center;
    padding: 18px;


}

.slogan{

    argin-top: 0px;
    margin-left: 180px;

    color: #dfebec;
    font-size: 37px;
}
.company{

    font-size: 100px;
    font-style: oblique;
    font-weight: bold;
    color: #9fc5c6;
    margin-top: 425px;
    box-sizing: content-box;
    margin-left: 155px;
}
body{
    background-image: url("images/norway1.jpg") ;

    background-position: inherit;

    background-repeat: repeat-y;
    background-size: cover;
}

.login{

    position: absolute;
    width: auto;
    bottom: 125px;
    right: 125px;
    padding: 15px;
    font-size: inherit;
    border-radius: 6px;
    background-color: darkgrey;
    font-weight: bold;
    float: right;
    border-radius: 6px;

}
.field{
    margin: 8px;
    size: auto;
}
.userInput{
    float: right;
    font-size: unset;
    padding: 16px;
    border-radius: 8px;
}
.submit {
    background-color: cadetblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    margin: 2px;
    width: -webkit-fill-available;

}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
#login{
    bottom: 125px;
    right: 125px;
}


