.navbar {
    background-color: darkcyan;
}

ul{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 13px;
    background-color: cadetblue;
}
li{
    display: inline;

}

li a{
    color: white;
    text-align: center;
    padding: 18px 18px;
}


.company{
    padding-top: 50px;
    padding-bottom: 30px;
    position: fixed;

}

.nordic{
    float:left; padding:30px 15px; background-color: coral; font-family: Phosphate; font: bold; font-size:125px;
}
.motorhome{
    float: left; padding:30px 15px; position:relative; top: 15px; right: 15px; background-color: coral; font-family: Phosphate; font: bold; font-size: 125px;
}
.rental{
    float:right; margin-bottom: 60%; padding:30px 15px; background-color: coral; font-family: Phosphate; font: bold; font-size: larger;  font-size: 125px; writing-mode: vertical-rl;
}
li a:hover{
    background-color: -moz-mac-accentregularhighlight;
}

.login{
    position: relative;
    top: 20px;
    float: top;
    font-weight: bold;
    border: 8px solid indianred;
    border-radius: 6px;
    padding: 15px;
}
