@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(static/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(static/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 300;
    src: url(static/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(static/fonts/Roboto-Regular.ttf);
}

body{
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

.background {
    background:url("norway1.jpg");
    position: relative;
}

.layer{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(95, 158, 160, .6);
    z-index: -1;
}

.main-wrapper{
    width: 1600px;
    margin: 0 auto;
}

@media (max-width: 1599px) {
    .main-wrapper{
        width:100%;
        margin: 0 auto;
    }}


@media (min-width: 768px) {
    .container{
        width:600px;
        margin: 0 auto;
    }}

@media (min-width: 992px) {
    .container{
        width:720px;
        margin: 0 auto;
    }}

@media (min-width: 1200px) {
    .container{
        width:1400px;
        margin: 0 auto;
    }}


.header--bg{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    background: url("norway1.jpg") no-repeat;
    height: 350px;
    position: relative;
    background-size: cover;
}

.header--bg:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(00, 00, 00, .3);
    z-index: -1;
}


.header .navbar{
    padding-top: 30px;
    margin-bottom: 50px;
}

@media screen and (max-width: 450px) {
    .header .navbar{
        margin-bottom: 150px;
    }
}

.header .navbar-brand{
    font-size: 26px;
    font-weight: bold;
}


.header .navbar .navbar-nav > li > a, .header .navbar .navbar-brand, .header .navbar .navbar-nav > li > a:focus{
    background-color: transparent;
    color: #fff;
}
.navbar-header button{
    background-color: #ddd;
}

@media screen and (max-width: 768px){
    .navbar-collapse{
        float: left;
    }

    .header .button{
        margin-bottom: 10px;
    }

    .header .header__content__title{
        letter-spacing: 6px;
    }
}

.button{
    padding: 9px 40px;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    background-color: transparent;
    position: relative;
}

.button:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    border: inherit;
    -webkit-filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.77));
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.77));
}

.header__content__title{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 13px;
    margin-bottom: 25px;
}




.footer--bg{
    -webkit-clip-path: polygon(0 17%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 17%, 100% 0%, 100% 100%, 0 100%);
    height: 300px;
    position: static;
}

.footer--bg:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #001F37;
    z-index: -1;
}

.page-section{
    padding-top: 0px;
}
.gutters-100.row{
    margin-right: -50px;
    margin-left: -50px;
}

.gutters-100 > [class^="col-"], .gutters-100 > [class^="col-"]{
    padding-right: 50px;
    padding-left: 50px;
}

.footer__first{
    position: relative;
    left: 20px;
}

.footer__title{
    font-size: 20px;
    color: #fff;
    padding-top: 80px;
    margin-bottom: 25px;
}

.footer__horizontal-bar{
    border-top: 1px solid #123953;
    max-width: 830px;
    margin-top: 70px;
}

.footer__bottom-paragraph{
    font-size: 15px;
    color: #c9c9c9;
    text-align: center;
    padding-top: 20px;
}