<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Contract Details</title>
</head>
<body>
    <form action="/customer/updateCustomer" method="post">
        <div>customer id
            <input type="number" name="customerId" th:value="${customer.customerId}" readonly >
        </div>

        <div>First Name
            <input type="text" name="firstName" th:value="${customer.firstName}">
        </div>

        <div>Last Name
            <input type="text" name="lastName" th:value="${customer.lastName}">
        </div>

        <div>Phone
            <input type="text" name="phone" th:value="${customer.phone}">
        </div>

        <div>Email
            <input type="email" name="email" th:value="${customer.email}">
        </div>

        <div>Driver Licence Number
            <input type="text" name="driverNum" th:value="${customer.driverNum}">
        </div>

        <div>Address Id
            <input type="number" name="addressId" th:value="${customer.addressId } " readonly >
        </div>

        <div>Country
            <input type="text" name="country" th:value="${customer.country}">
        </div>

        <div>City
            <input type="text" name="city" th:value="${customer.city}">
        </div>

        <div>Street
            <input type="text" name="street" th:value="${customer.street}">
        </div>

        <div>House Number
            <input type="text" name="houseNum" th:value="${customer.houseNum}">
        </div>

        <div>Zip code
            <input type="text" name="zip" th:value="${customer.zip}">
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>