<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">>
<head>
    <meta charset="UTF-8">
    <title>Action Succeeded</title>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/styles.css" th:href="@{/styles.css}" />
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/TableCSS.css" th:href="@{/tableCSS.css}" />
</head>
<body>

    <h1>Go Next</h1>
    <form action="/contract" method="post">
        <input type="submit" value="Next">
    </form>
</body>
</html>