<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Additions to contract</title>
</head>
<body>
    <h1>Choose the pick up and drop off locations for the motorhome</h1>

    <form>
        <div>Pick up</div>
        <select id="pickUp" name="pickUp">
            <option
                    th:each="pickUp : ${transfers}"
                    th:value="${pickUp.transferId}"
                    th:text="${pickUp.location}"
                    th:selected="${pickUp.transferId==1}">
            </option>
        </select>

        <div>Drop off</div>
        <select id="dropOff" name="dropOff">
            <option
                    th:each="dropOff : ${transfers}"
                    th:value="${dropOff.transferId}"
                    th:text="${dropOff.location}"
                    th:selected="${dropOff.transferId==1}">
            </option>
        </select>

        <div></div>
    </form>

</body>
</html>