<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contract List</title>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/styles.css" th:href="@{/styles.css}" />
</head>
<body>

<div class="background">
    <div class="layer">

<div class="main-wrapper">
    <header class="header header--bg">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">NORDIC MOTORHOMES</a>
                </div>
            </nav>
            <div class="header__content text-center">
                <h1 class="header__content__title">ALL CONTRACTS</h1>
            </div>
        </div>
    </header>


    <h2>Search for Contract</h2>
    <form action="contract/searchContract" method="post">
        <input type="text" name="startDate" placeholder="Type search parameter" required>
        <input type="submit" value="Search">
    </form>
    <div style="overflow-x:auto;">
    <table>
        <table border = "0" cellpadding = "8" cellspacing = "8" >
            <tr>
                <th>Contract ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Odometer at Start</th>
                <th>Total Price</th>
            </tr>
            <tr th:each="contract:${contracts}">
                <td th:text="${contract.contractId}"></td>
                <td th:text="${contract.startDate}"></td>
                <td     th:text="${contract.endDate}"></td>
                <td th:text="${contract.startKm}"></td>
                <td th:text="${contract.totalPrice}"></td>
                <td><a th:href="@{'/contract/viewContract/'+${contract.contractId}}">
                    <button>View</button>
                </a>
                    <a th:href="@{'/contract/deleteContract/'+${contract.contractId}}">
                        <button>Delete</button>
                    </a>
                    <a th:href="@{'/contract/updateContract/'+${contract.contractId}}">
                        <button>Update</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <a href="/contract/customerSelection">
        <button>Sign new contract</button>
    </a>

    <footer class="footer footer--bg">
        <div class="container">
            <div class="page-section">
                <div class="row gutters-100">
                    <div class="col-md-4 col-lg-3">
                        <div class="footer__first">
                            <h2 class="footer__title">NORDIC MOTORHOMES</h2>
                        </div>
                    </div>
                    <hr class="footer__horizontal-bar">
                    <p class="footer__bottom-paragraph">© Copyright 2020 <a href="#" style="color: #00aafe;font-weight:bold;">KEA Computer Science Group 7</a>. All Rights Reserved</p>
                </div>
            </div>
    </footer>
</div>
    </div>
</div>

</body>
</html>