<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Choose Customer</title>
</head>
<body>
    <div>Please choose an existing customer, or create a new one</div>
    <form action="/contract/datesSelection" method="post">
        <div th:object="${newContract}"></div>
        <select id="customerId" name="customerId">
            <option
                    th:each="customer:${customers}"
                    th:value="${customer.customerId}"
                    th:text="${customer.email}">
                    </option>
                </select>
        <input type="submit" value="Next">
    </form>
</body>
</html>