<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Date selection</title>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/styles.css" th:href="@{/styles.css}" />
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/TableCSS.css" th:href="@{/tableCSS.css}" />
</head>
<body>


<div class="main-wrapper">
    <header class="header header--bg">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    </button>
                    <a class="navbar-brand" href="#">NORDIC MOTORHOMES</a>
                </div>
            </nav>
            <div class="header__content text-left">
                <h1 class="header__content__title">DATE SELECTION</h1>
            </div>
        </div>
    </header>
    <h1>Please select the dates for the customer's rental</h1>

    <form action="/contract/motorhomeSelection" method="post">
        <div>Start Date</div>
        <input type="datetime-local" placeholder="yyyy-mm-dd 00:00" name="startDate" required>

        <div>End Date</div>
        <input type="datetime-local" placeholder="yyyy-mm-dd 00:00" name="endDate" required>

        <!--Carrying over data filled in so far-->
        <input type="hidden" th:value="${contract.customerId}" th:attr=name='customerId'>

        <input type="submit" value="Choose dates">

    </form>

</body>
</html>