<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Motorhome Selection</title>
</head>
<body>
    <h1>Select a motorhome for the customer to rent</h1>
    <form>
        <ul>
            <li th:each="motorhome:${motorhomes}">
                <input type="radio" name="licencePlate" th:value="${motorhome.licencePlate}" required>
                <span th:text="${motorhome.brand}"></span>
                <span th:text="${motorhome.model}"></span>
                <span th:text="${motorhome.seatNum}"></span>
                <span th:text="${motorhome.bedNum}"></span>
                <span th:text="${motorhome.pricePerDay}"></span>
            </li>
        </ul>
        <input type="submit" value="Choose car">
    </form>
</body>
</html>