<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View Contract</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" th:href="@{/styles.css}" />
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/TableCSS.css" th:href="@{/tableCSS.css}" />
</head>
<body>

<div class="main-wrapper">
    <header class="header header--bg">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">NORDIC MOTORHOMES</a>
                </div>
            </nav>
            <div class="header__content text-center">
                <h1 class="header__content__title">CONTRACT INFORMATION</h1>
            </div>
        </div>
    </header>




    <h1>Contract Details</h1>


    <table>
        <thead>
            <tr>
                <th>Contract ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Odometer at Start</th>
                <th>Total Price</th>
            </tr>
        </thead>

        <tbody>
            <tr th:object="${contract}">
                <td th:text="${contract.contractId}"></td>
                <td th:text="${contract.startDate}"></td>
                <td th:text="${contract.endDate}"></td>
                <td th:text="${contract.startKm}"></td>
                <td th:text="${contract.totalPrice}"></td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Zipcode</th>
        </tr>
        </thead>

        <tbody>
        <tr th:object="${customer}">
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.zip}"></td>
        </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th>Type</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Number of beds</th>
            <th>Price per day</th>
        </tr>
        </thead>

        <tbody>
        <tr th:object="${motorhome}">
            <td th:text="${motorhome.typeName}"></td>
            <td th:text="${motorhome.brand}"></td>
            <td th:text="${motorhome.model}"></td>
            <td th:text="${motorhome.bedNum}"></td>
            <td th:text="${motorhome.pricePerDay}"></td>
        </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{'/contract/deleteContract/'+${contract.contractId}}" method="post">
        <input type="submit" value="Delete Contract">
    </form>

    <form action="#" th:action="@{'/contract/cancelContract/'+${contract.contractId}}" method="post">
        <input type="submit" value="Cancel Rental">
    </form>

    <form action="#" th:action="@{'/contract/updatePrice/'+${contract.contractId}}" method="post">
        <input type="submit" value="Recalculate Price">
    </form>
</body>
</html>