<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create motorhoome</title>
</head>
<body>
<h1>Create New Customer</h1>
<form action="/customer/createCustomer" method="post">
    <div>Enter first name
        <input type="text" name="typeName" placeholder="Urben Plus" required>
    </div>
    <div>Enter last name
        <input type="number" name="pricePerDay" placeholder="999" required>
    </div>
    <div>Enter e-mail
        <input type="text" name="brand" placeholder="Coachmen" required>
    </div>
    <div>Enter driver Licence Number
        <input type="text" name="model" placeholder="pursuit" required>
    </div>
    <div>Enter country
        <input type="number" name="seatNum" placeholder="8" required>
    </div>
    <div>Enter City
        <input type="number" name="bedNum" placeholder="8" required>
    </div>
    <div>Enter street
        <input type="text" name="licencePlate" placeholder="ab123456" required>
    </div>
    <div>Enter house number
        <input type="number" name="odometer" placeholder="0" required>
    </div>
    <div>Enter zip code
        <input type="" name="ready" placeholder="nice and shine" >
    </div>
    <div>Enter zip code
        <input type="text" name="ready" placeholder="nice and shine" >
    </div>
    <input type="submit" value="Create New Customer">
</form>
</body>
</html>