<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MANAGE MOTORHOMES</title>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/styles.css" th:href="@{/styles.css}" />
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/TableCSS.css" th:href="@{/tableCSS.css}" />
</head>
<body>

<div class="background">
    <div class="layer">

        <div class="main-wrapper">
            <header class="header header--bg">
                <div class="container">
                    <nav class="navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            </button>
                            <a class="navbar-brand" href="#">NORDIC MOTORHOMES</a>
                        </div>
                    </nav>
                    <div class="header__content text-left">
                        <h1 class="header__content__title">ALL MOTORHOMES</h1>
                    </div>
                </div>
            </header>

    <form action="/motorhome/viewMotorhome" method="post">
        <input type="submit" value="View All Motorhomes">
    </form>

    <form action="/motorhome/createMotorhome" method="post">
        <input type="submit" value="Add Motorhome To Fleet">
    </form>
    <!--
    <a href="/motorhome/updateMotorhome/">
        <button style="color=blue">UPDATE MOTORHOME</button>
    </a>

    <a href="/motorhome/deleteMotorhome/">
        <button style="color=blue">DELETE MOTORHOME</button>
    </a>

    <a href="/motorhome/searchMotorhome/">
        <button style="color=blue">SEARCH MOTORHOME</button>
    </a>
    -->
    <form action="/motorhome/searchMotorhome" method="post">
        <div>
            Search for a motorhome to view info, update or delete
            <input type="text" name="licencePlate" placeholder="Searching parameter" required>
            <input type="submit" value="Search motorhome">

        </div>
    </form>
    <footer class="footer footer--bg">
        <div class="container">
            <div class="page-section">
                <div class="row gutters-100">
                    <div class="col-md-4 col-lg-3">
                        <div class="footer__first">
                            <h2 class="footer__title">NORDIC MOTORHOMES</h2>
                        </div>
                    </div>
                    <hr class="footer__horizontal-bar">
                    <p class="footer__bottom-paragraph">© Copyright 2020 <a href="#" style="color: #00aafe;font-weight:bold;">KEA Computer Science Group 7</a>. All Rights Reserved</p>
                </div>
            </div>
    </footer>
    </div>
    </div>
    </div>

</body>
</html>