<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/styles.css" th:href="@{/styles.css}" />
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/TableCSS.css" th:href="@{/tableCSS.css}" />
</head>
<body>

<div class="background">
    <div class="layer">

        <div class="main-wrapper">
            <header class="header header--bg">
                <div class="container">
                    <nav class="navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            </button>
                            <a class="navbar-brand" href="#">NORDIC MOTORHOMES</a>
                        </div>
                    </nav>
                    <div class="header__content text-left">
                        <h1 class="header__content__title">NO SEARCH RESULTS</h1>
                    </div>
                </div>
            </header>
    <div><h1>Unfortunately, there are no results for your search</h1>
        <form action="/motorhome/searchMotorhome/" method="post">Search Motorhome
            <input type="text" name="licencePlate" placeholder="Type search parameter" required>
            <input type="submit" value="Search Motorhome">
        </form>
    </div>
    <div>
        <h1>Consider Adding A New Entry</h1>
        <form action="/motorhome/addMotorhome" method="post">
            <div>Enter type name
                <input type="text" name="typeName" placeholder="Urban Plus" required>
            </div>
            <div>Enter price per day
                <input type="number" name="pricePerDay" placeholder="999" required>
            </div>
            <div>Enter brand
                <input type="text" name="brand" placeholder="Coachmen" required>
            </div>
            <div>Enter model
                <input type="text" name="model" placeholder="pursuit" required>
            </div>
            <div>Enter seat number
                <input type="number" name="seatNum" placeholder="8" required>
            </div>
            <div>Enter bed number
                <input type="number" name="bedNum" placeholder="8" required>
            </div>
            <div>Enter licence plate
                <input type="text" name="licencePlate" placeholder="ab123456" required>
            </div>
            <div>Enter odometer
                <input type="number" name="odometer" placeholder="0" required>
            </div>
            <div>Enter status
                <select id="ready" name="ready">
                    <option value="false" selected><p>Not Ready</p></option>
                    <option value="true"><p>Ready</p></option>
                </select>
            </div>
            <div>Enter report
                <input type="text" name="report" placeholder="nice and shiny" >
            </div>
            <input type="submit" value="Create New Motorhome">
        </form>
    </div>
</body>
</html>