<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search Motorhome</title>
</head>
<body>
<h1>Search Motorhome Results</h1>
<table>
    <thead>
    <tr>
        <th>Licence Plate</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Seat Number</th>
        <th>Bed Number</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="motorhome:${motorhomes}">
        <td th:text="${motorhome.licencePlate}"></td>
        <td th:text="${motorhome.brand}"></td>
        <td th:text="${motorhome.model}"></td>
        <td th:text="${motorhome.seatNum}"></td>
        <td th:text="${motorhome.bedNum}"></td>
        <td th:text="${motorhome.typeName}"></td>
        <td>
            <form action="#" th:action="@{'/motorhome/deleteMotorhome/'+${motorhome.licencePlate}}" method="post">
                <input type="submit" value="Delete From Fleet">
            </form>

            <form action="#" th:action="@{'/motorhome/updateMotorhome/'+${motorhome.licencePlate}}" method="post">
                <input type="submit" value="Update Information">
            </form>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>