<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search Motorhome</title>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/styles.css" th:href="@{/styles.css}" />
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/TableCSS.css" th:href="@{/tableCSS.css}" />
</head>
<body>

        <div class="main-wrapper">
            <header class="header header--bg">
                <div class="container">
                    <nav class="navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            </button>
                            <a class="navbar-brand" href="#">NORDIC MOTORHOMES</a>
                        </div>
                    </nav>
                    <div class="header__content text-left">
                        <h1 class="header__content__title">MOTORHOME DETAILS</h1>
                    </div>
                </div>
            </header>
<h1>Motorhome Results</h1>
<table>
    <thead>
    <tr>
        <th>Licence Plate</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Seat Number</th>
        <th>Bed Number</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="motorhome:${motorhomes}">
        <td th:text="${motorhome.licencePlate}"></td>
        <td th:text="${motorhome.brand}"></td>
        <td th:text="${motorhome.model}"></td>
        <td th:text="${motorhome.seatNum}"></td>
        <td th:text="${motorhome.bedNum}"></td>
        <td th:text="${motorhome.typeName}"></td>
        <td>
            <form action="#" th:action="@{'/motorhome/deleteMotorhome/'+${motorhome.licencePlate}}" method="post">
                <input type="submit" value="Delete From Fleet">
            </form>

            <form action="#" th:action="@{'/motorhome/updateMotorhome/'+${motorhome.licencePlate}}" method="post">
                <input type="submit" value="Update Information">
            </form>

        </td>
    </tr>
    </tbody>
</table>


</body>
</html>