<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/styles.css" th:href="@{/styles.css}" />
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/TableCSS.css" th:href="@{/tableCSS.css}" />
</head>
<body>
<div class="background">
    <div class="layer">
        <div class="main-wrapper">
            <header class="header header--bg">
                <div class="container">
                    <nav class="navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            </button>
                            <a class="navbar-brand" href="#">NORDIC MOTORHOMES</a>
                        </div>
                    </nav>
                    <div class="header__content text-left">
                        <h1 class="header__content__title">UPDATE MOTORHOME</h1>
                    </div>
                </div>
            </header>

            <h1>Update Motorhome Details</h1>
<form action="/motorhome/updateMotorhome" method="post">
    <div>Licence Plate
        <input class="div-input"type="text" name="licencePlate" th:value="${motorhome.licencePlate}">
    </div>
    <div>Odometer
        <input class="div-input" type="number" name="odometer" th:value="${motorhome.odometer}">
    </div>
    <div>Status
        <select id="ready" name="ready">
            <option value="false"><p>Not Ready</p></option>
            <option value="true"><p>Ready</p></option>
        </select>
    </div>
    <div class="div-input">Report
        <input class = "inputSpace" type="text" name="report" th:value="${motorhome.report}">
    </div >
    <div class="div-input">MhSpecsId
        <input  class = "inputSpace" type="number" name="mhSpecsId" th:value="${motorhome.mhSpecsId}">
    </div>
    <div class="div-input">Brand
        <input  class = "inputSpace" type="text" name="brand" th:value="${motorhome.brand}">
    </div>
    <div class="div-input">Model
        <input  class = "inputSpace" type="text" name="model" th:value="${motorhome.model}" >
    </div>
    <div class="div-input">Seats Number
        <input  class = "inputSpace" type="number" name="seatNum" th:value="${motorhome.seatNum}">
    </div>
    <div class="div-input">Beds Number
        <input  class = "inputSpace" type="number" name="bedNum" th:value="${motorhome.bedNum}">
    </div>
    <div class="div-input">Type Id
        <input  class = "inputSpace" type="number" name="mhTypeId" th:value="${motorhome.mhTypeId}">
    </div>
    <div class="div-input">Type Name
        <input  class = "inputSpace" type="text" name="typeName" th:value="${motorhome.typeName}">
    </div>
    <div class="div-input">Price Per Day
        <input  class = "inputSpace" type="number" name="pricePerDay" th:value="${motorhome.pricePerDay}">
    </div>
    <div class="div-input">
        <input  class = "inputSpace" type="submit" value="Submit">
    </div>
</form>
<footer class="footer footer--bg">
    <div class="container">
        <div class="page-section">
                    <div class="footer__first">
                        <h2 class="footer__title">NORDIC MOTORHOMES</h2>
                    </div>
                <hr class="footer__horizontal-bar">
                <p class="footer__bottom-paragraph">© Copyright 2020 <a href="#" style="color: #00aafe;font-weight:bold;">KEA Computer Science Group 7</a>. All Rights Reserved</p>
        </div>
</footer>
</div>
</div>
</div>

</body>
</html>