<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Motorhome View</title>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/styles.css" th:href="@{/styles.css}" />
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/TableCSS.css" th:href="@{/tableCSS.css}" />
</head>
<body>


        <div class="main-wrapper">
            <header class="header header--bg">
                <div class="container">
                    <nav class="navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            </button>
                            <a class="navbar-brand" href="#">NORDIC MOTORHOMES</a>
                        </div>
                    </nav>
                    <div class="header__content text-left">
                        <h1 class="header__content__title">ALL MOTORHOMES</h1>
                    </div>
                </div>
            </header>
        <h1>View All Motorhomes</h1>
        <table>
            <thead>
            <tr>
                <th>Type</th>
                <th>Price Per day</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Seats</th>
                <th>Beds</th>
                <th>Licence Plate</th>
                <th>Odometer</th>
                <th>Status</th>
                <th>Report</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="motorhome:${motorhomes}">
                <td th:text="${motorhome.typeName}"></td>
                <td th:text="${motorhome.pricePerDay}"></td>
                <td th:text="${motorhome.brand}"></td>
                <td th:text="${motorhome.model}"></td>
                <td th:text="${motorhome.seatNum}"></td>
                <td th:text="${motorhome.bedNum}"></td>
                <td th:text="${motorhome.licencePlate}"></td>
                <td th:text="${motorhome.odometer}"></td>
                <td th:text="${motorhome.ready}"></td>
                <td th:text="${motorhome.report}"></td>
                <td>
                    <a class ="button" href="updateMotorhome.html">UPDATE</a>
                </td>
                <td>
                    <a class ="button" href="viewMotorhome.html">DELETE</a>
                </td>
            </tr>
            </tbody>
        </table>


    </body>
</html>