<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MANAGE CONTRACTS</title>
</head>
<body>
    <a href="/contract/viewContract/">
        <button style="color=blue">VIEW ALL CONTRACTS</button>
    </a>

    <a href="/contract/searchContract/">
        <button style="color=blue">SEARCH CONTRACT</button>
    </a>

    <a href="/contract/createContract/">
        <button style="color=blue">ADD CONTRACT</button>
    </a>

    <a href="/contract/updateContract/">
        <button style="color=blue">UPDATE CONTRACT</button>
    </a>

    <a href="/contract/deleteContract/">
        <button style="color=blue">DELETE CONTRACT</button>
    </a>
</body>
</html>