<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:background-image="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/index.css}">


</head>
    <body>

            <div class="bg-image">
            <ul class="navbar">
                <li><a class="navbarB" href="index">HOME</a></li>

                <li><a class="navbarB" onclick="document.getElementById('id01').style.display='block'" >LOG IN</a></li>
                <li><a class="navbarB" href="logout">LOG OUT</a></li>
            </ul>

        <div class="company">
            <h1 class="company" id="rental">NORDIC MOTORHOME</h1>

            <div class="slogan"><br>Wonderful travel, in a comfortable way
            </div>

        </div>


        <div id="id01" class="modal">
            <form class="login" action="/login" method="post">
                <div class="field">
                    <input class="userInput" type="text" name="firstName" placeholder="Enter first name" required>
                </div>
                <div class="field">
                    <input class="userInput" type="text" name="lastName" placeholder="Enter last name" required>
                </div>
                <div class="field">
                    <input class="userInput" type="password" name="passwordDetails" placeholder="Enter password" required>
                </div >
                <input class="submit" type="submit" value="Login">
            </form>
        </div>
            </div>
            <script>
                var modal = document.getElementById('id01');
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>
    </body>
</html>