<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MANAGE CUSTOMERS</title>
</head>
<body>
    <a href="/customer/viewCustomer.html">
    <button style="color=blue">VIEW ALL CUSTOMERS</button>
    </a>

    <a href="/customer/searchCustomer.html">
        <button style="color=blue">SEARCH CUSTOMER</button>
    </a>

    <a href="/customer/createCustomer.html">
        <button style="color=blue">ADD CUSTOMER</button>
    </a>

    <a href="/customer/updateCustomer.html">
        <button style="color=blue">UPDATE CUSTOMER</button>
    </a>

    <a href="/customer/deleteCustomer.html.html">
        <button style="color=blue">DELETE CUSTOMER</button>
    </a>

</body>
</html>