<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MANAGE MOTORHOMES</title>
</head>
<body>
    <a href="create.html">
        <button style="color=blue">VIEW ALL MOTORHOMES</button>
    </a>

    <a href="manageCustomers.html">
        <button style="color=blue">SEARCH MOTORHOME</button>
    </a>

    <a href="manageCustomers.html">
        <button style="color=blue">ADD MOTORHOME</button>
    </a>

    <a href="manageCustomers.html">
        <button style="color=blue">UPDATE MOTORHOME</button>
    </a>

    <a href="manageCustomers.html">
        <button style="color=blue">DELETE MOTORHOME</button>
    </a>
</body>
</html>