<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MANAGE CUSTOMERS</title>
</head>
<body>
    <a href="/customer/viewCustomer">
    <button style="color=blue">VIEW ALL CUSTOMERS</button>
    </a>

    <a href="/customer/searchCustomer/">
        <button style="color=blue">SEARCH CUSTOMER</button>
    </a>

    <a href="/customer/createCustomer">
        <button style="color=blue">ADD CUSTOMER</button>
    </a>

    <a href="/customer/updateCustomer">
        <button style="color=blue">UPDATE CUSTOMER</button>
    </a>

    <a href="/customer/deleteCustomer">
        <button style="color=blue">DELETE CUSTOMER</button>
    </a>

</body>
</html>