<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner login</title>
</head>
<body>
    <div>
        <form action="/customer" method="post">
            <input type="submit" value="Manage Customers">
        </form>
    </div>

    <div>
        <form action="/motorhome" method="post">
            <input type="submit" value="Manage Motorhomes">
        </form>
    </div>

    <div>
        <form action="/contract" method="post">
            <input type="submit" value="Manage Contracts">
        </form>
    </div>

</body>
</html>