<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
    <h1>Create New Customer</h1>
    <form action="/customer/createCustomer" method="post">
        <div>Enter first name
        <input type="text" name="firstName" placeholder="John" required>
        </div>
        <div>Enter last name
        <input type="text" name="lastName" placeholder="Doe" required>
        </div>
        <div>Enter e-mail
        <input type="email" name="email" placeholder="jondue@example.com" required>
        </div>
        <div>Enter driver Licence Number
        <input type="number" name="driverNum" placeholder="12345678" required>
        </div>
        <div>Enter country
        <input type="text" name="country" placeholder="Columbia" required>
        </div>
        <div>Enter City
        <input type="text" name="city" placeholder="Bogota" required>
        </div>
        <div>Enter street
        <input type="text" name="street" placeholder="AveMaria" required>
        </div>
        <div>Enter house number
        <input type="text" name="houseNum" placeholder="1a" required>
        </div>
        <div>Enter zip code
        <input type="number" name="zip" placeholder="11111" required>
        </div>
        <input type="submit" value="Create New Customer">
    </form>

    <form action="/customer/searchCustomer/" method="get">Search Customer
        <input type="text" name="firstName" placeholder="Type search parameter" required>
        <input type="submit" value="Search Customer">
    </form>
    
        
</body>
</html>