<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MANAGE CUSTOMERS</title>
</head>
<body>
    <form action="/customer/viewCustomer" method="post">
        <input type="submit" value="View All Customers">
    </form>

    <form action="/customer/createCustomer" method="post">
        <input type="submit" value="Create Customer">
    </form>

    <form action="/customer/searchCustomer" method="post">
        <div>
            Search for a customer to view info, update or delete
            <input type="text" name="firstName" placeholder="Searching parameter" required>
            <input type="submit" value="Search customer">

        </div>
    </form>

</body>
</html>