<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div><h1>There is no results for your search</h1>
        <form action="/customer/searchCustomer/" method="get">Search Customer
            <input type="text" name="firstName" placeholder="Type search parameter" required>
            <input type="submit" value="Search Customer">
        </form>
    </div>
    <div>Create a new customer
    <h1>Create New Customer</h1>
    <form action="/customer/createCustomer" method="post">
        <div>Enter first name
            <input type="text" name="firstName" placeholder="John" required>
        </div>
        <div>Enter last name
            <input type="text" name="lastName" placeholder="Doe" required>
        </div>
        <div>Enter e-mail
            <input type="email" name="email" placeholder="jondue@example.com" required>
        </div>
        <div>Enter driver Licence Number
            <input type="number" name="driverNum" placeholder="12345678" required>
        </div>
        <div>Enter country
            <input type="text" name="country" placeholder="Columbia" required>
        </div>
        <div>Enter City
            <input type="text" name="city" placeholder="Bogota" required>
        </div>
        <div>Enter street
            <input type="text" name="street" placeholder="AveMaria" required>
        </div>
        <div>Enter house number
            <input type="text" name="houseNum" placeholder="1a" required>
        </div>
        <div>Enter zip code
            <input type="number" name="zip" placeholder="11111" required>
        </div>
        <input type="submit" value="Create New Customer">
    </form>
    </div>

</head>
<body>

</body>
</html>